.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logop {
  text-align: center;
  display: flex;
  position: relative;
  left: 15px;
}

.logobg {
  background-color: #df7e08;
  color: #F2F2F2;
  padding: 4px 15px;
  font-weight: 700;
  border-radius: 12px;
  margin-left: 5px;
}


.updtbtn {
  border-radius: 20px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  width: 6vw;
  background-color: #df7e08 !important;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.footend {
  height: 35vh;
}

.updtbtn:hover {
  background-color: #df7e08c3 !important;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}